<a href="https://colab.research.google.com/github/SalmanShah123/Data-Warehousing-HW/blob/main/HW_MVCrashes_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install azure-storage-blob
!pip install pyarrow
!pip install psycopg2 sqlalchemy

Requirement already satisfied: azure-storage-blob in /usr/local/lib/python3.10/dist-packages (12.19.1)
Requirement already satisfied: azure-core<2.0.0,>=1.28.0 in /usr/local/lib/python3.10/dist-packages (from azure-storage-blob) (1.30.1)
Requirement already satisfied: cryptography>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from azure-storage-blob) (42.0.5)
Requirement already satisfied: typing-extensions>=4.3.0 in /usr/local/lib/python3.10/dist-packages (from azure-storage-blob) (4.11.0)
Requirement already satisfied: isodate>=0.6.1 in /usr/local/lib/python3.10/dist-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.31.0)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=2.1.4->azure-storage-blob) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.22)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2024.2.2)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.25.2)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from math import ceil
import datetime
import calendar
from sqlalchemy import create_engine

In [3]:
# Azure Functions
def azure_upload_blob(connect_str, container_name, blob_name, data):
    blob_service_client = BlobServiceClient.from_connection_string(connect_str)
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
    blob_client.upload_blob(data, overwrite=True)
    print(f"Uploaded to Azure Blob: {blob_name}")

def azure_download_blob(connect_str, container_name, blob_name):
    blob_service_client = BlobServiceClient.from_connection_string(connect_str)
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
    download_stream = blob_client.download_blob()
    return download_stream.readall()

In [34]:
# Specify the path to your JSON configuration file
config_file_path = 'config.json'

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)

# Print the configuration
#Connection_STRING = config["connectionString"]

CONNECTION_STRING_AZURE_STORAGE = config["connectionString"]
CONTAINER_AZURE = 'motorvehiclecrash'

# Initialize the BlobServiceClient
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE)

# Get the container client
container_client = blob_service_client.get_container_client(CONTAINER_AZURE)

mv_crash_df = pd.DataFrame()


# List all blobs in the specified container
blob_list = container_client.list_blobs()
for blob in blob_list:
    print(blob.name)
    blob_client = container_client.get_blob_client(blob=blob.name)
    blob_data = blob_client.download_blob()
    blob_content = blob_data.readall().decode('utf-8')
    df = pd.read_csv(StringIO(blob_content))
    # Display the head of the DataFrame
    print(df.shape)
    # since I have only one csv, I am doing to do the following instructions
    mv_crash_df = df.copy()

motorvehiclecrash.csv

<ipython-input-34-9b9c6868dda1>:30: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(blob_content))

(2082277, 29)

Great success! The slightly modified ETL script was able to retrieve the csv dataset I had stored in the Azure Cloud. Now I can begin the transformations on the data. I begin first by removing the columns I wont need.

In [5]:
def week_of_month(dt):
    first_day = dt.replace(day=1)
    dom = dt.day
    adjusted_dom = dom + first_day.weekday()
    return int(ceil(adjusted_dom/7.0))

def get_week_of_year(date_str):
    """
    Calculate the ISO week number of the year for a given date.

    Parameters:
    date_str (str): A date string in the format 'YYYY-MM-DD'.

    Returns:
    int: ISO week number of the year.
    """
    # Parse the input string to a datetime object
    date = datetime.strptime(date_str, '%Y-%m-%d')

    # Get the ISO calendar week number
    week_of_year = date.isocalendar()[1]

    return week_of_year

In [6]:
# Check for null values in each column
null_values = mv_crash_df.isnull().sum()

# Display the count of null values in each column
print(null_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           647881
ZIP CODE                          648132
LATITUDE                          234094
LONGITUDE                         234094
LOCATION                          234094
ON STREET NAME                    442554
CROSS STREET NAME                 787961
OFF STREET NAME                  1732096
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6845
CONTRIBUTING FACTOR VEHICLE 2     323327
CONTRIBUTING FACTOR VEHICLE 3    1933393
CONTRIBUTING FACTOR VEHICLE 4    2048639
CONTRIBUTING FACTOR VEHICLE 5    2073154
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13808
VEHICLE TYPE CODE 2               398959
VEHICLE TYPE CODE 3              1938805
VEHICLE TYPE CODE 4              2049808
VEHICLE TYPE CODE 5              2073433
dtype: int64

In [21]:
df_cleaned = mv_crash_df.copy()
df_cleaned = mv_crash_df.drop(columns=['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5', 'OFF STREET NAME'])

# Check for null values in each column
null_values = df_cleaned.isnull().sum()

# Display the count of null values in each column
print(null_values)

df_cleaned.shape

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          647881
ZIP CODE                         648132
LATITUDE                         234094
LONGITUDE                        234094
LOCATION                         234094
ON STREET NAME                   442554
CROSS STREET NAME                787961
NUMBER OF PERSONS INJURED            18
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6845
CONTRIBUTING FACTOR VEHICLE 2    323327
COLLISION_ID                          0
VEHICLE TYPE CODE 1               13808
VEHICLE TYPE CODE 2              398959
dtype: int64

(2082277, 22)

Before starting the cleaning of missing/null values, I had 2,082,277 rows of data.

In [35]:
# Drop rows with any null values and refresh the index
df_cleaned.dropna(inplace=True)
df_cleaned.reset_index(drop=True, inplace=True)

# Check for null values in each column
null_values = df_cleaned.isnull().sum()
print(null_values)

df_cleaned.shape

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
ON STREET NAME                   0
CROSS STREET NAME                0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
dtype: int64

(893166, 22)

After I dropped the null values from all the columns, I was left with 893,166 rows of data

In [36]:
# Display any unique values in 'ZIP CODE' that might not be numeric or are placeholders
print("Unique non-numeric or placeholder values in 'ZIP CODE':", df_cleaned[pd.to_numeric(df_cleaned['ZIP CODE'], errors='coerce').isna()]['ZIP CODE'].unique())

# Replace any non-numeric values with pd.NA
df_cleaned['ZIP CODE'] = pd.to_numeric(df_cleaned['ZIP CODE'], errors='coerce')

# Now drop these as they are not valid ZIP codes
df_cleaned.dropna(subset=['ZIP CODE'], inplace=True)

# Try converting 'ZIP CODE' to 'Int64' again
df_cleaned['ZIP CODE'] = df_cleaned['ZIP CODE'].astype('Int64')

# Display the updated DataFrame shape and data type of 'ZIP CODE'
print("Updated DataFrame shape:", df_cleaned.shape)
print("Data type of 'ZIP CODE':", df_cleaned['ZIP CODE'].dtype)

df_cleaned['ZIP CODE'].head()

Unique non-numeric or placeholder values in 'ZIP CODE': <IntegerArray>
[]
Length: 0, dtype: Int64
Updated DataFrame shape: (893166, 22)
Data type of 'ZIP CODE': Int64

0    10017
1    11413
2    11434
3    10463
4    10301
Name: ZIP CODE, dtype: Int64

In [22]:
#Finding out the start and end date of the remaining data
min_date = df_cleaned['CRASH DATE'].min()
max_date = df_cleaned['CRASH DATE'].max()

print("Minimum date:", min_date)
print("Maximum date:", max_date)

Minimum date: 01/01/2013
Maximum date: 12/31/2023

I have now removed the null values and un-necessary columns from the data. I will proceed with creating the dimensions for my DW. Starting with the Contributing Factor Dimension:

In [37]:
# Extract unique values from both columns
unique_factors_1 = df_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].dropna().unique()
unique_factors_2 = df_cleaned['CONTRIBUTING FACTOR VEHICLE 2'].dropna().unique()

# Combine and deduplicate the unique values from both columns
all_unique_factors = pd.Series(list(set(unique_factors_1) | set(unique_factors_2)))

# Create a DataFrame with IDs and descriptions
dim_contributing_factor = pd.DataFrame(all_unique_factors, columns=['contributing-factor-description'])

# Adding an ID column assuming a simple sequential ID is acceptable
dim_contributing_factor['contributing-factor-id'] = range(1, len(dim_contributing_factor) + 1)

# Display the DataFrame
print(dim_contributing_factor)
dim_contributing_factor.info()

                      contributing-factor-description  contributing-factor-id
0                                   Vehicle Vandalism                       1
1                                               Glare                       2
2                               Passenger Distraction                       3
3                                     Drugs (illegal)                       4
4                                         Fell Asleep                       5
5                         Traffic Control Disregarded                       6
6                                  Lost Consciousness                       7
7                              Cell Phone (hand-held)                       8
8                        Aggressive Driving/Road Rage                       9
9                             Prescription Medication                      10
10               Reaction to Other Uninvolved Vehicle                      11
11                                Physical Disability                      12
12                                   Brakes Defective                      13
13                                  Pavement Slippery                      14
14  Pedestrian/Bicyclist/Other Pedestrian Error/Co...                      15
15                             Other Lighting Defects                      16
16                                             Illnes                      17
17                            Other Electronic Device                      18
18                              Windshield Inadequate                      19
19                     Driver Inattention/Distraction                      20
20                   Lane Marking Improper/Inadequate                      21
21                               Unsafe Lane Changing                      22
22                                  Oversized Vehicle                      23
23                                 Turning Improperly                      24
24                            Tire Failure/Inadequate                      25
25        Traffic Control Device Improper/Non-Working                      26
26                                        Unspecified                      27
27                   Using On Board Navigation Device                      28
28                             Cell Phone (hand-Held)                      29
29                         Driverless/Runaway Vehicle                      30
30                                    Drugs (Illegal)                      31
31                                            Texting                      32
32                       Shoulders Defective/Improper                      33
33                                Driver Inexperience                      34
34                                   Steering Failure                      35
35                                            Illness                      36
36                                    Other Vehicular                      37
37                                    Fatigued/Drowsy                      38
38                                 Eating or Drinking                      39
39                         Listening/Using Headphones                      40
40                            View Obstructed/Limited                      41
41                                     Animals Action                      42
42                            Cell Phone (hands-free)                      43
43                     Reaction to Uninvolved Vehicle                      44
44                                Alcohol Involvement                      45
45                                       Unsafe Speed                      46
46                     Passing or Lane Usage Improper                      47
47                                                 80                      48
48                              Following Too Closely                      49
49                            Outside Car Distraction                      50
50                                 Obstruction/Debris                      51
51                      Failure to Yield Right-of-Way                      52
52                                 Pavement Defective                      53
53                                Passing Too Closely                      54
54                              Failure to Keep Right                      55
55                                   Backing Unsafely                      56
56                                Tow Hitch Defective                      57
57                              Accelerator Defective                      58
58                                     Tinted Windows                      59
59                               Headlights Defective                      60
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   contributing-factor-description  60 non-null     object
 1   contributing-factor-id           60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

Next, I will create the vehicle Dimension

In [38]:
# Extract unique values from both vehicle type columns
unique_vehicle_types_1 = df_cleaned['VEHICLE TYPE CODE 1'].unique()
unique_vehicle_types_2 = df_cleaned['VEHICLE TYPE CODE 2'].unique()

# Combine and deduplicate the unique values from both columns
all_unique_vehicle_types = pd.Series(list(set(unique_vehicle_types_1) | set(unique_vehicle_types_2)))

# Create a DataFrame with IDs and descriptions
vehicle_type_df = pd.DataFrame(all_unique_vehicle_types, columns=['vehicle-type-description'])

# Adding an ID column assuming a simple sequential ID is acceptable
vehicle_type_df['vehicle-id'] = range(1, len(vehicle_type_df) + 1)
dim_vehicle = vehicle_type_df

# Display the DataFrame to verify
print(dim_vehicle)
dim_vehicle.info()

     vehicle-type-description  vehicle-id
0                       TANKE           1
1                        TRLR           2
2                    ESCOOTER           3
3                       PEDIC           4
4                         PSD           5
...                       ...         ...
1299                      oml        1300
1300                    sanit        1301
1301                    Scoot        1302
1302                    AMBUL        1303
1303                      Lim        1304

[1304 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   vehicle-type-description  1304 non-null   object
 1   vehicle-id                1304 non-null   int64
dtypes: int64(1), object(1)
memory usage: 20.5+ KB

Now, we create the Location Dimension. For this dimension, I tried adding an attribute called neighbourhood which I intended to infer from the location co-ordinates. However, the code to retrieve the neighbourhood of each row took too long to run. ChatGPT estimated it would take approximately 10.3 days to complete.

In [39]:
# Select necessary columns and ensure no rows with missing latitude or longitude
df_location = df_cleaned[['BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME']].dropna(subset=['LATITUDE', 'LONGITUDE'])

# Rename 'ZIP CODE' to 'zipcode' before creating the unique_zip_codes DataFrame
df_location.rename(columns={'ZIP CODE': 'zipcode'}, inplace=True)

# Extract unique ZIP codes and map them to a new ID column
unique_zip_codes = pd.DataFrame(df_location['zipcode'].unique(), columns=['zipcode'])
unique_zip_codes['location_ID'] = range(1, len(unique_zip_codes) + 1)

# Merge unique ZIP codes back to df_location to assign location_ID based on 'zipcode'
dim_location = pd.merge(df_location, unique_zip_codes, how='left', on='zipcode')

# Optionally combine LATITUDE and LONGITUDE into 'location_coordinates' if needed
dim_location['location-coordinates'] = dim_location['LATITUDE'].astype(str) + ', ' + dim_location['LONGITUDE'].astype(str)

# Rename columns to match SQL table definition
dim_location.rename(columns={
    'BOROUGH': 'borough',
    'LATITUDE': 'latitude',
    'LONGITUDE': 'longitude',
    'LOCATION': 'location_coordinates',
    'ON STREET NAME': 'on-street-name',
    'CROSS STREET NAME': 'cross-street-name'
}, inplace=True)

# Display the DataFrame to verify
print(dim_location)
dim_location.info()

              borough  zipcode   latitude  longitude     location_coordinates  \
0           MANHATTAN    10017  40.751440 -73.973970    (40.75144, -73.97397)
1              QUEENS    11413  40.675884 -73.755770   (40.675884, -73.75577)
2              QUEENS    11434  40.666840 -73.789410    (40.66684, -73.78941)
3               BRONX    10463  40.872620 -73.904686   (40.87262, -73.904686)
4       STATEN ISLAND    10301  40.631650 -74.087620    (40.63165, -74.08762)
...               ...      ...        ...        ...                      ...
893161       BROOKLYN    11215  40.672066 -73.990524  (40.672066, -73.990524)
893162         QUEENS    11373  40.731968 -73.884780   (40.731968, -73.88478)
893163  STATEN ISLAND    10306  40.570465 -74.109770   (40.570465, -74.10977)
893164         QUEENS    11366  40.720955 -73.809350   (40.720955, -73.80935)
893165       BROOKLYN    11203  40.655514 -73.927864  (40.655514, -73.927864)

               on-street-name  cross-street-name  location_ID  \
0                    3 AVENUE     EAST 43 STREET            1
1       SPRINGFIELD BOULEVARD    EAST GATE PLAZA            2
2        NORTH CONDUIT AVENUE         150 STREET            3
3       WEST KINGSBRIDGE ROAD       HEATH AVENUE            4
4           VICTORY BOULEVARD   WOODSTOCK AVENUE            5
...                       ...                ...          ...
893161               8 STREET           3 AVENUE          149
893162           GRAND AVENUE          80 STREET           20
893163          NEW DORP LANE    HYLAN BOULEVARD           48
893164              79 AVENUE  PARSONS BOULEVARD           57
893165             LENOX ROAD     EAST 53 STREET           18

         location-coordinates
0         40.75144, -73.97397
1        40.675884, -73.75577
2         40.66684, -73.78941
3        40.87262, -73.904686
4         40.63165, -74.08762
...                       ...
893161  40.672066, -73.990524
893162   40.731968, -73.88478
893163   40.570465, -74.10977
893164   40.720955, -73.80935
893165  40.655514, -73.927864

[893166 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893166 entries, 0 to 893165
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   borough               893166 non-null  object
 1   zipcode               893166 non-null  Int64
 2   latitude              893166 non-null  float64
 3   longitude             893166 non-null  float64
 4   location_coordinates  893166 non-null  object
 5   on-street-name        893166 non-null  object
 6   cross-street-name     893166 non-null  object
 7   location_ID           893166 non-null  int64
 8   location-coordinates  893166 non-null  object
dtypes: Int64(1), float64(2), int64(1), object(5)
memory usage: 62.2+ MB

Finally, we create the date dimension.

In [41]:
def time_of_day_bucket(hour):
    """ Categorize time into buckets based on hour."""
    if 0 <= hour < 4:
        return 'Late Night'
    elif 4 <= hour < 8:
        return 'Early Morning'
    elif 8 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 16:
        return 'Afternoon'
    elif 16 <= hour < 20:
        return 'Evening'
    else:
        return 'Night'

# Convert and create necessary time columns
df_cleaned['crash-time-stamp'] = pd.to_datetime(df_cleaned['CRASH DATE'].astype(str) + ' ' + df_cleaned['CRASH TIME'].astype(str))
df_cleaned['CRASH DATE'] = pd.to_datetime(df_cleaned['CRASH DATE'])

# Initialize date_dimension from df_cleaned
date_dimension = pd.DataFrame({
    'crash-date': df_cleaned['CRASH DATE'],
    'crash-time': df_cleaned['crash-time-stamp'],
    'hour': df_cleaned['crash-time-stamp'].dt.hour,
    'am/pm-flag': df_cleaned['crash-time-stamp'].dt.strftime('%p'),
    'time-of-day-bucket': df_cleaned['crash-time-stamp'].dt.hour.apply(time_of_day_bucket),
    'date-iso-format': df_cleaned['CRASH DATE'].apply(lambda x: x.isoformat()),
    'year-number': df_cleaned['CRASH DATE'].dt.year,
    'quarter': df_cleaned['CRASH DATE'].dt.quarter,
    'month-number': df_cleaned['CRASH DATE'].dt.month,
    'day-number': df_cleaned['CRASH DATE'].dt.day,
    'month-name': df_cleaned['CRASH DATE'].dt.strftime('%B'),
    'day-name': df_cleaned['CRASH DATE'].dt.strftime('%A'),
    'week-of-the-year': df_cleaned['CRASH DATE'].dt.isocalendar().week,
    'week-of-the-month': df_cleaned['CRASH DATE'].apply(week_of_month)
})

# Adding 'date-id' column formatted as requested
date_dimension['date-id'] = df_cleaned['crash-time-stamp'].dt.strftime('%Y%m%d%H%M')
df_cleaned['date-id'] = df_cleaned['crash-time-stamp'].dt.strftime('%Y%m%d%H%M')

# Display the DataFrame
print(date_dimension)

date_dimension.info()

       crash-date          crash-time  hour am/pm-flag time-of-day-bucket  \
0      2021-12-14 2021-12-14 14:58:00    14         PM          Afternoon
1      2021-12-14 2021-12-14 16:50:00    16         PM            Evening
2      2021-12-14 2021-12-14 23:10:00    23         PM              Night
3      2021-12-11 2021-12-11 19:43:00    19         PM            Evening
4      2021-12-13 2021-12-13 17:40:00    17         PM            Evening
...           ...                 ...   ...        ...                ...
893161 2024-04-08 2024-04-08 08:40:00     8         AM            Morning
893162 2024-04-18 2024-04-18 15:30:00    15         PM          Afternoon
893163 2024-04-18 2024-04-18 14:25:00    14         PM          Afternoon
893164 2024-04-18 2024-04-18 15:15:00    15         PM          Afternoon
893165 2024-04-18 2024-04-18 06:40:00     6         AM      Early Morning

            date-iso-format  year-number  quarter  month-number  day-number  \
0       2021-12-14T00:00:00         2021        4            12          14
1       2021-12-14T00:00:00         2021        4            12          14
2       2021-12-14T00:00:00         2021        4            12          14
3       2021-12-11T00:00:00         2021        4            12          11
4       2021-12-13T00:00:00         2021        4            12          13
...                     ...          ...      ...           ...         ...
893161  2024-04-08T00:00:00         2024        2             4           8
893162  2024-04-18T00:00:00         2024        2             4          18
893163  2024-04-18T00:00:00         2024        2             4          18
893164  2024-04-18T00:00:00         2024        2             4          18
893165  2024-04-18T00:00:00         2024        2             4          18

       month-name  day-name  week-of-the-year  week-of-the-month       date-id
0        December   Tuesday                50                  3  202112141458
1        December   Tuesday                50                  3  202112141650
2        December   Tuesday                50                  3  202112142310
3        December  Saturday                49                  2  202112111943
4        December    Monday                50                  3  202112131740
...           ...       ...               ...                ...           ...
893161      April    Monday                15                  2  202404080840
893162      April  Thursday                16                  3  202404181530
893163      April  Thursday                16                  3  202404181425
893164      April  Thursday                16                  3  202404181515
893165      April  Thursday                16                  3  202404180640

[893166 rows x 15 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893166 entries, 0 to 893165
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   crash-date          893166 non-null  datetime64[ns]
 1   crash-time          893166 non-null  datetime64[ns]
 2   hour                893166 non-null  int32
 3   am/pm-flag          893166 non-null  object
 4   time-of-day-bucket  893166 non-null  object
 5   date-iso-format     893166 non-null  object
 6   year-number         893166 non-null  int32
 7   quarter             893166 non-null  int32
 8   month-number        893166 non-null  int32
 9   day-number          893166 non-null  int32
 10  month-name          893166 non-null  object
 11  day-name            893166 non-null  object
 12  week-of-the-year    893166 non-null  UInt32
 13  week-of-the-month   893166 non-null  int64
 14  date-id             893166 non-null  object
dtypes: UInt32(1), datetime64[ns](2), int32(5), int64(1), object(6)
memory usage: 82.6+ MB

Now, we will create the Fact table

In [42]:
# Create mapping dictionaries from the dimension DataFrames
factor_id_map = dim_contributing_factor.set_index('contributing-factor-description')['contributing-factor-id'].to_dict()
vehicle_type_map = dim_vehicle.set_index('vehicle-type-description')['vehicle-id'].to_dict()
location_id_map = dim_location.set_index('zipcode')['location_ID'].to_dict()

# Map contributing factor descriptions to IDs in df_cleaned
df_cleaned['contributing-factor-id'] = df_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].map(factor_id_map)

# Map vehicle type descriptions to IDs in df_cleaned
df_cleaned['vehicle-id'] = df_cleaned['VEHICLE TYPE CODE 1'].map(vehicle_type_map)

# Map ZIP CODE to location IDs in df_cleaned
df_cleaned['location-id'] = df_cleaned['ZIP CODE'].map(location_id_map)

# Optionally, check how many IDs were successfully mapped and view the first few rows to confirm
print("Number of mapped contributing factors:", df_cleaned['contributing-factor-id'].notna().sum())
print("Number of mapped vehicle types:", df_cleaned['vehicle-id'].notna().sum())
print("Number of mapped locations:", df_cleaned['location-id'].notna().sum())
print(df_cleaned[['CONTRIBUTING FACTOR VEHICLE 1', 'contributing-factor-id', 'VEHICLE TYPE CODE 1', 'vehicle-id', 'ZIP CODE', 'location-id']].head())

Number of mapped contributing factors: 893166
Number of mapped vehicle types: 893166
Number of mapped locations: 893166
    CONTRIBUTING FACTOR VEHICLE 1  contributing-factor-id  \
0             Passing Too Closely                      54
1              Turning Improperly                      24
2  Reaction to Uninvolved Vehicle                      44
3                     Unspecified                      27
4                     Unspecified                      27

                   VEHICLE TYPE CODE 1  vehicle-id  ZIP CODE  location-id
0                                Sedan        1145     10017            1
1                                Sedan        1145     11413            2
2                                Sedan        1145     11434            3
3  Station Wagon/Sport Utility Vehicle         808     10463            4
4                                Sedan        1145     10301            5

In [45]:
df_cleaned.head()
df_cleaned.shape

(893166, 27)

In [46]:
# Initialize fact_table with the primary key column
fact_table = pd.DataFrame(df_cleaned['COLLISION_ID'].copy())
fact_table.columns = ['collision_id']

# Add number of persons killed
fact_table['number-of-persons-killed'] = df_cleaned['NUMBER OF PERSONS KILLED'].copy()

# Add number of pedestrians killed
fact_table['number-of-pedestrians-killed'] = df_cleaned['NUMBER OF PEDESTRIANS KILLED'].copy()

# Add number of cyclists killed
fact_table['number-of-cyclists-killed'] = df_cleaned['NUMBER OF CYCLIST KILLED'].copy()

# Add number of motorists killed
fact_table['number-of-motorists-killed'] = df_cleaned['NUMBER OF MOTORIST KILLED'].copy()

# Add number of persons injured
fact_table['number-of-persons-injured'] = df_cleaned['NUMBER OF PERSONS INJURED'].copy()

# Add number of pedestrians injured
fact_table['number-of-pedestrians-injured'] = df_cleaned['NUMBER OF PEDESTRIANS INJURED'].copy()

# Add number of cyclists injured
fact_table['number-of-cyclists-injured'] = df_cleaned['NUMBER OF CYCLIST INJURED'].copy()

# Add number of motorists injured
fact_table['number-of-motorists-injured'] = df_cleaned['NUMBER OF MOTORIST INJURED'].copy()

# Add vehicle-type-id (assuming it's correctly named and present)
fact_table['vehicle-id'] = df_cleaned['vehicle-id'].copy()

# Add location-id (if available and correctly named)
fact_table['location-id'] = df_cleaned['location-id'].copy()

# Add date-id
fact_table['date-id'] = df_cleaned['date-id'].copy()

# Add contributing-factor-id
fact_table['contributing-factor-id'] = df_cleaned['contributing-factor-id'].copy()

fact_table.head()

,collision_id,number-of-persons-killed,number-of-pedestrians-killed,number-of-cyclists-killed,number-of-motorists-killed,number-of-persons-injured,number-of-pedestrians-injured,number-of-cyclists-injured,number-of-motorists-injured,vehicle-id,location-id,date-id,contributing-factor-id
0,4486519,0.0,0,0,0,0.0,0,0,0,1145,1,202112141458,54
1,4487127,0.0,0,0,0,0.0,0,0,0,1145,2,202112141650,24
2,4486635,0.0,0,0,0,2.0,0,0,2,1145,3,202112142310,44
3,4487040,0.0,0,0,0,1.0,0,0,1,808,4,202112111943,27
4,4487001,0.0,0,0,0,1.0,0,0,1,1145,5,202112131740,27

The fact table has been created successfully. Looks like I need to change some column types to integers before I begin pushing the data into the Data Warehouse.

In [47]:
# Convert columns to integer data type
fact_table['number-of-persons-killed'] = fact_table['number-of-persons-killed'].astype(int)
fact_table['number-of-persons-injured'] = fact_table['number-of-persons-injured'].astype(int)

fact_table.head()

fact_table.shape

(893166, 13)

Now, I will begin pushing my tables to the DW. First we begin by creating the connection to the DW

In [67]:
# Database connection URL
# Replace the placeholders with your actual database credentials
pwd = 'Land4you!'
database_url = f'postgresql://Salman:{pwd}@cis9440-hwdw-kss.postgres.database.azure.com/postgres'

# Create a SQLAlchemy engine
engine = create_engine(database_url)

Adding the data for my four dimensions, followed by the fact table

In [68]:
date_dimension.to_sql('date_dimension', con=engine, if_exists='append', index=False)
dim_vehicle.to_sql('dim_vehicle', con=engine, if_exists='append', index=False)
dim_contributing_factor.to_sql('dim_contributing_factor', con=engine, if_exists='append', index=False)
dim_location.to_sql('dim_location', con=engine, if_exists='append', index=False)

166

In [69]:
fact_table.to_sql('fact_table', con=engine, if_exists='append', index=False)

166

The data went to tables under the public tab of DataGrip

In [70]:
date_dimension.to_csv("date_dimension.csv",index=False)
dim_location.to_csv("dim_location.csv",index=False)
dim_contributing_factor.to_csv("dim_contributing_factor",index=False)
dim_vehicle.to_csv("dim_vehicle.csv",index=False)
fact_table.to_csv("fact_table.csv",index=False)

In [71]:
# Generic Functions
def create_string(length):
    if isinstance(length, int) and length > 0:
        result_string = "(" + "?," * (length - 1) + "?)"
        return result_string

def insert_data(table_name, df):
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()
    result = create_string(len(df.columns))
    # Insert data into the table
    insert_query = f"INSERT INTO {table_name} VALUES {result}"
    print(insert_query)
    cursor.executemany(insert_query, df.values.tolist())
    conn.commit()
    conn.close()